TBT/TBT.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2020 rel. 2 (http://www.altova.com) -->
<xs:schema xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace">
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="TBT1.xsd"/>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="alt-title">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="alt-title-type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="bold" type="xs:string"/>
	<xs:element name="book">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="collection-meta"/>
				<xs:element ref="book-meta"/>
				<xs:element ref="front-matter"/>
			</xs:sequence>
			<xs:attribute name="dtd-version" use="required" type="xs:decimal"/>
			<xs:attribute ref="xml:lang" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-count">
		<xs:complexType>
			<xs:attribute name="count-type" use="required" type="xs:string"/>
			<xs:attribute name="count" use="required" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-equation-count">
		<xs:complexType>
			<xs:attribute name="count" use="required" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-fig-count">
		<xs:complexType>
			<xs:attribute name="count" use="required" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="book-id-type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-meta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="book-id" maxOccurs="unbounded"/>
				<xs:element ref="subj-group"/>
				<xs:element ref="book-title-group"/>
				<xs:element ref="pub-date"/>
				<xs:element ref="publisher"/>
				<xs:element ref="counts"/>
				<xs:element ref="custom-meta-group" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-page-count">
		<xs:complexType>
			<xs:attribute name="count" use="required" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-ref-count">
		<xs:complexType>
			<xs:attribute name="count" use="required" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-table-count">
		<xs:complexType>
			<xs:attribute name="count" use="required" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-title">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-title-group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="book-title"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="break">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="col">
		<xs:complexType>
			<xs:attribute name="width" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="collection-meta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title-group"/>
			</xs:sequence>
			<xs:attribute name="collection-type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="counts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="book-count"/>
				<xs:element ref="book-fig-count"/>
				<xs:element ref="book-table-count"/>
				<xs:element ref="book-equation-count"/>
				<xs:element ref="book-ref-count"/>
				<xs:element ref="book-page-count"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="custom-meta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="meta-name"/>
				<xs:element ref="meta-value"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="custom-meta-group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="custom-meta" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="day" type="xs:byte"/>
	<xs:element name="email">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="xlink:href" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ext-link">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="ext-link-type" use="required" type="xs:string"/>
					<xs:attribute ref="xlink:href" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="front-matter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="front-matter-part"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="front-matter-part">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="named-book-part-body"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="meta-name" type="xs:string"/>
	<xs:element name="meta-value" type="xs:string"/>
	<xs:element name="month" type="xs:byte"/>
	<xs:element name="named-book-part-body">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="p"/>
				<xs:element ref="table-wrap"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="p" type="xs:string"/>
	<xs:element name="pub-date">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="day"/>
				<xs:element ref="month"/>
				<xs:element ref="year"/>
			</xs:sequence>
			<xs:attribute name="date-type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="publisher">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="publisher-name"/>
				<xs:element ref="publisher-loc"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="publisher-loc" type="xs:string"/>
	<xs:element name="publisher-name" type="xs:string"/>
	<xs:element name="subj-group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="subject"/>
			</xs:sequence>
			<xs:attribute name="subj-group-type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="subject" type="xs:string"/>
	<xs:element name="table">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="col" maxOccurs="unbounded"/>
				<xs:element ref="tbody"/>
			</xs:sequence>
			<xs:attribute name="rules" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="table-wrap">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="table"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:string"/>
			<xs:attribute name="position" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tbody">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tr" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="td">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="bold"/>
				<xs:choice minOccurs="0">
					<xs:sequence>
						<xs:element ref="break"/>
						<xs:choice>
							<xs:sequence>
								<xs:element ref="bold"/>
								<xs:sequence minOccurs="0">
									<xs:element ref="break"/>
									<xs:element ref="email"/>
								</xs:sequence>
							</xs:sequence>
							<xs:sequence>
								<xs:element ref="ext-link"/>
								<xs:sequence minOccurs="0">
									<xs:element ref="break"/>
									<xs:element ref="ext-link"/>
									<xs:element ref="break"/>
									<xs:element ref="ext-link" maxOccurs="unbounded"/>
									<xs:element ref="email"/>
									<xs:element ref="ext-link"/>
								</xs:sequence>
							</xs:sequence>
						</xs:choice>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="underline"/>
						<xs:element ref="break"/>
						<xs:element ref="bold"/>
					</xs:sequence>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="valign" use="required" type="xs:string"/>
			<xs:attribute name="align" use="required" type="xs:string"/>
			<xs:attribute name="style" use="required" type="xs:anyURI"/>
			<xs:attribute name="scope" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="title-group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="alt-title" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="td" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="underline" type="xs:string"/>
	<xs:element name="year" type="xs:short"/>
</xs:schema>
