IP/IP.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2020 rel. 2 (http://www.altova.com) -->
<xs:schema xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace">
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="IP1.xsd"/>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="alt-title">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="alt-title-type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="body">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sec" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="book">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="collection-meta"/>
				<xs:element ref="book-meta"/>
				<xs:element ref="front-matter"/>
				<xs:element ref="book-body"/>
			</xs:sequence>
			<xs:attribute ref="xml:lang" use="required"/>
			<xs:attribute name="dtd-version" use="required" type="xs:decimal"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-body">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="book-part"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-count">
		<xs:complexType>
			<xs:attribute name="count" use="required" type="xs:byte"/>
			<xs:attribute name="count-type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-equation-count">
		<xs:complexType>
			<xs:attribute name="count" use="required" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-fig-count">
		<xs:complexType>
			<xs:attribute name="count" use="required" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-id">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="book-id-type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-meta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="book-id" maxOccurs="unbounded"/>
				<xs:element ref="subj-group"/>
				<xs:element ref="book-title-group"/>
				<xs:element ref="contrib-group"/>
				<xs:element ref="pub-date"/>
				<xs:element ref="publisher"/>
				<xs:element ref="counts"/>
				<xs:element ref="custom-meta-group" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-page-count">
		<xs:complexType>
			<xs:attribute name="count" use="required" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-part">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="body"/>
				<xs:element ref="sec"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-ref-count">
		<xs:complexType>
			<xs:attribute name="count" use="required" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-table-count">
		<xs:complexType>
			<xs:attribute name="count" use="required" type="xs:byte"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="book-title" type="xs:string"/>
	<xs:element name="book-title-group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="book-title"/>
				<xs:element ref="subtitle"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="break">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="collection-meta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title-group"/>
			</xs:sequence>
			<xs:attribute name="collection-type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="contrib">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="string-name"/>
			</xs:sequence>
			<xs:attribute name="contrib-type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="contrib-group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="role"/>
				<xs:element ref="x"/>
				<xs:element ref="contrib"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="counts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="book-count"/>
				<xs:element ref="book-fig-count"/>
				<xs:element ref="book-table-count"/>
				<xs:element ref="book-equation-count"/>
				<xs:element ref="book-ref-count"/>
				<xs:element ref="book-page-count"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="custom-meta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="meta-name"/>
				<xs:element ref="meta-value"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="custom-meta-group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="custom-meta" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="day" type="xs:byte"/>
	<xs:element name="ext-link">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="xlink:href" use="required"/>
					<xs:attribute name="ext-link-type" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fn">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="label"/>
				<xs:element ref="p"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="front-matter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="front-matter-part"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="front-matter-part">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="named-book-part-body"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="given-names" type="xs:string"/>
	<xs:element name="italic">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="toggle" use="required" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="label" type="xs:string"/>
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="list-item" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="list-type" use="required" type="xs:string"/>
			<xs:attribute name="id" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="list-item">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="label"/>
				<xs:element ref="p"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="meta-name" type="xs:string"/>
	<xs:element name="meta-value" type="xs:string"/>
	<xs:element name="month" type="xs:byte"/>
	<xs:element name="named-book-part-body">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="p"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="p">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0">
				<xs:sequence>
					<xs:element ref="italic"/>
					<xs:element ref="underline" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="ext-link" maxOccurs="unbounded"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="italic"/>
						<xs:element ref="ext-link"/>
					</xs:sequence>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="underline" maxOccurs="unbounded"/>
					<xs:choice minOccurs="0">
						<xs:sequence>
							<xs:element ref="italic" maxOccurs="unbounded"/>
							<xs:sequence minOccurs="0">
								<xs:element ref="xref"/>
								<xs:element ref="fn"/>
								<xs:element ref="italic"/>
							</xs:sequence>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="ext-link" maxOccurs="unbounded"/>
							<xs:element ref="underline" minOccurs="0"/>
						</xs:sequence>
						<xs:sequence>
							<xs:choice>
								<xs:sequence>
									<xs:element ref="xref"/>
									<xs:element ref="fn"/>
								</xs:sequence>
								<xs:element ref="sup"/>
							</xs:choice>
							<xs:sequence minOccurs="0">
								<xs:element ref="xref"/>
								<xs:element ref="fn"/>
							</xs:sequence>
						</xs:sequence>
					</xs:choice>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="xref"/>
					<xs:element ref="fn"/>
				</xs:sequence>
				<xs:element ref="sup"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="pub-date">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="day"/>
				<xs:element ref="month"/>
				<xs:element ref="year"/>
			</xs:sequence>
			<xs:attribute name="date-type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="publisher">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="publisher-name"/>
				<xs:element ref="publisher-loc"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="publisher-loc" type="xs:string"/>
	<xs:element name="publisher-name" type="xs:string"/>
	<xs:element name="role" type="xs:string"/>
	<xs:element name="sec">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="label"/>
					<xs:element ref="title"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="p" maxOccurs="unbounded"/>
						<xs:sequence minOccurs="0">
							<xs:element ref="list"/>
							<xs:element ref="p" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:sequence>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="title"/>
					<xs:element ref="p"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="string-name">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="given-names"/>
				<xs:element ref="x"/>
				<xs:element ref="surname"/>
			</xs:sequence>
			<xs:attribute name="name-style" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="subj-group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="subject"/>
			</xs:sequence>
			<xs:attribute name="subj-group-type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="subject" type="xs:string"/>
	<xs:element name="subtitle">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="break"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sup" type="xs:string"/>
	<xs:element name="surname" type="xs:string"/>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="title-group">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="title"/>
				<xs:element ref="alt-title" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="underline" type="xs:string"/>
	<xs:element name="x">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute ref="xml:space" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="xref">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sup"/>
			</xs:sequence>
			<xs:attribute name="rid" use="required" type="xs:string"/>
			<xs:attribute name="ref-type" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="year" type="xs:short"/>
</xs:schema>
